.history-page {
  overflow-x: auto;
  margin-top: 40px;
}

.history-page table {
  margin: auto;
  width: 100%;
}

.history-page table,
th,
tr,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 10px;
  text-transform: capitalize;
}

table a {
  color: rgb(7, 46, 221);
}

.history-page img {
  width: 70px;
  height: 100px;
  object-fit: cover;
}
